html {
  height: 100%;
  background-color: #181818;
  font-family: 'Play', sans-serif;
  font-size: 18px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover 
{
   color:white;
   text-decoration:none; 
   cursor:pointer;  
}


body {
  height: 100%;
  margin: 0;
  font-family: 'Play', sans-serif;
}

#page {
  display: flex;
  height:  100vh;
}

#sideBar {
  margin-top: 30px;
  margin-left: 35px;
  width: 710px;
}

#content {
    flex: 1 0 auto;
  /* enable grow, disable shrink */
}

.slideshow {
  float: left;
  margin-top: 120px;
  margin-left: 390px;
  margin-bottom: 10px;
  width: 780px;
  height: 415px;
  background-color: #181818;
  border: 1px solid #ffffff;
  
}

.authorization {
  margin-right: 390px;
}

.login {
  margin-top: px;
  width: 320px;
  height: 230px;
  border-radius: 4px;
  background-color: #1f1f1f;
  border: 1px solid #383838;
  color: #ffffff;

}

.login p {
  margin-top: 4px;
  padding-left: 25px;
}

input {
  width: 268px;
  height: 36px;
  border-radius: 4px;
  background-color: #1f1f1f;
  border: 1px solid rgba(247,238,238,0.72);
  color: white;
  font-family: "Play";
}

.registration {
  color: #ffffff;
  margin-top: 15px;
  width: 320px;
  height: 420px;
  border-radius: 4px;
  background-color: #1f1f1f;
  border: 1px solid #383838;
}

.registration p {
  margin-top: 4px;
  padding-left: 25px;
}


#login-button {
  color: #ffffff;
  font-family: "Play";
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  width: 270px;
  height: 36px;
  border-radius: 4px;
  border:none;
  background-color: #ff5500;
}
#register-button {
  color: #ffffff;
  font-family: "Play";
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  width: 270px;
  height: 36px;
  border-radius: 4px;
  border:none;
  background-color: #ff5500;
}

.bottom-text {
line-height: 90%;
padding-top: 50px;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}


/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #ff5500;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

.userDetails {
  width: 320px;
  height: 620px;
  border-radius: 4px;
  background-color: #1f1f1f;
  border: 1px solid #383838;
}

#avatar {
  margin-left: 35px;
  margin-top: 20px;
  width: 250px;
  height: 250px;
  border-radius: 4px;
  background-color: #1f1f1f;
}

#usernameDisplayed {
  text-align: center;
  font-size: 40px;
  letter-spacing: -1px;
  color: #ff5500;
  font-family: "Play";
  font-weight: 700;
}

.navigation {
  margin-top: 15px;
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 10px;
  color: #ffffff;
  font-family: "Play";
  font-weight: 400;
  text-align: right;
}

.navigation div {
  width: 250px;
  height: 15px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 6px;
  margin-right: 40px;
  margin-left: 28px;
  margin-bottom: 14px;
}

.navigation div:hover {
  border-radius: 4px;
  background-color: #404040;
 
}

#logout-button { 
  margin-right: 35px;
}

#calendar {
  margin-top: 120px;
  margin-left: 390px;
  border-spacing: 10px;
}
td {
  text-align: center;
  padding-right: 10px;
  width: 148px;
  height: 151px;
  border-radius: 4px;
  background-color: #ff5500;
  padding: 5px;
}

#weeks {
  text-align: center;
  background-color: #181818;
  font-size: 35px;
  letter-spacing: -1px;
  line-height: 27px;
  font-weight: 700;
}

#weeks div:hover {
  text-shadow: 2px 2px 8px #ff5500;
  color: #ff5500;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  color: black;
  margin: auto;
  padding: 20px;
  border: 8px solid #ff5500;
  width: 600px;
}
.modal i {
  font-size: 15px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  color: white;
  font-family: 'Play';
  font-weight: 700;
  border: 1px solid white;
  background-color: #ff5500;
}