body {
    font-family: 'Play';
    background-color: #181818;
    color: white;
    font-size: 18px;
}

.leftside, .rightside {
    height: 50vh;
    width: 100%;
}

@media screen and (min-width:768px) {
    .leftside {
        height: 100vh;
    }
}

input {
    width: 268px;
    height: 36px;
    border-radius: 4px;
    background-color: #1f1f1f;
    border: 1px solid rgba(247, 238, 238, 0.72);
    color: white;
    font-family: "Play";
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.userDetails {
    width: 320px;
    height: 620px;
    border-radius: 4px;
    background-color: #1f1f1f;
    border: 1px solid #383838;
}

#avatar {
    margin-left: 35px;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 4px;
    background-color: #1f1f1f;
}

#username {
    text-align: center;
    font-size: 40px;
    letter-spacing: -1px;
    color: #ff5500;
    font-family: "Play";
    font-weight: 700;
}

.navigation {
    margin-top: 15px;
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 10px;
    color: #ffffff;
    font-family: "Play";
    font-weight: 400;
    text-align: right;
}

.navigation div {
    width: 250px;
    height: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 25px;
}

.navigation div:hover {
    border-radius: 4px;
    background-color: #404040;
}

#logout-button {
    margin-right: 35px;
}

.footer {
    position: fixed;
    background-color: #373737;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.footer-content img {
    margin-top: 12px;
    width: 25px;
    height: 25px;
    margin-left: 7px;
}

table {
    margin-top: 30px;
    border-collapse: separate;
    border-spacing: 0.5em;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}

td {
    text-align: center;
    height: 15vh;
    width: 10rem;
    border-radius: 4px;
    background-color: #ff5500;
    color: white;
}

#weeks {
    color: white;
    text-align: center;
    background-color: #181818;
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 27px;
    font-weight: 700;
}

#weeks div:hover {
    text-shadow: 2px 2px 8px #ff5500;
    color: #ff5500;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    /* z-index: 1; */
    /* Sit on top */
    padding-top: 200px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    text-align: center;
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 20px;
    border: 8px solid #ff5500;
    width: 600px;
}

.modal i {
    font-size: 15px;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
    color: white;
    font-family: 'Play';
    font-weight: 700;
    border: 1px solid white;
    background-color: #ff5500;
}

/* Product_view page */

.card-header {
    background-color: #ff5500;
}

.card-title {
    color: #007bff;
}

.list-unstyled {
    color: #6c758d
}